<!doctype html>
<html>
<% include ./shared/head %>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profiel</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Gebruikers gegevens</h3>
                <p>
                    <strong>id</strong>: <%= user._id %><br>
                    <strong>email</strong>: <%= user.logins.local.email %><br>
                    <strong>apikey</strong>: <%= user.authKey %><br>

                    <strong>nickname</strong>: <%= user.getDisplayName() %><br>

                </p>
            </div>
            <div class="well">
                <h3><span class="fa fa-user"></span> Nickname instellen</h3>
                <p>
                    <input type="text" id="nickname" class="form-control" name="nickname">
                    <button type="submit" id="updateNickname" class="btn btn-warning btn-lg">Nickname aanpassen</button>
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">

                <h3><span class="fa fa-flag-checkered"></span> Races</h3>
                <div class="row">
                <button class="btn btn-success pull-right">Nieuwe Race</button>
                </div>
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#" id="ownerRaces">Eigenaar</a></li>
                    <li role="presentation"><a href="#" id="participantRaces">Deelnemer</a></li>
                    <li role="presentation"><a href="#" id="publicRaces">Publieke races</a></li>
                </ul>
                <ul id="racesList" class="list-group">
                    <li class="list-group-item">
                        Races laden...
                    </li>
                </ul>
                <nav>
                    <ul class="pager">
                        <li class="previous"><a href="#" id="prevPage"><span aria-hidden="true">&larr;</span> Vorige</a></li>
                        <li>
                            Items per pagina:
                            <select id="itemsPerPage">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="5">5</option>
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                            </select>
                        </li>
                        <li class="next"><a href="#" id="nextPage">Volgende <span aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var apiKey = "<%= user.authKey %>";
    </script>
    <script type="text/javascript" src="js/profile.js"></script>
</div>
</body>
</html>