<!doctype html>
<html>
<% include ./shared/head %>
<body>
<div class="container">
    <div class="col-sm-6">
        <div class="well">
            <h3><span class="fa fa-flag-checkered"></span> <%= race.name %></h3>
            <strong>Begin tijd:</strong> <%= race.startTime %><br>
            <% if (race.endTime) { %>
            <strong>Eind tijd:</strong> <%= race.endTime %><br>
            <% } %>
            <strong>Eigenaren:</strong>
            <% for (i = 0; i < race.owners.length; i++) {
                var owner = race.owners[i]; %>
            <%= (owner.nickname ? owner.nickname : owner.logins.local.email) %><%
            if (i + 1 < race.owners.length) {
            %>,
            <% }
            }%>
            <h3><span class="fa fa-user"></span> Deelnemers</h3>
            <ul id="racesList" class="list-group">
                <% if (race.participants.length == 0) { %>
                    <li class="list-group-item">
                        <strong>
                            Nog geen deelnemers.
                        </strong>
                    </li>
                <% } else {
                for (i = 0; i < race.participants.length; i++) {
                    var participant = race.participants[i]; %>
                <li class="list-group-item">
                    <span class="badge">
                        <%= participant.visitedLocations.length %> / <%= race.locations.length %> checkpoints
                    </span>
                    <strong>
                        <%= (participant.nickname ? participant.nickname : participant.logins.local.email) %>
                    </strong>
                </li>
                <% }
                }%>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="../js/race.js"></script>
</div>
</body>
</html>